<div class="form row">
    <div class="form-group">
        <label class="col-form-label">first name</label>
        <div class="col">
            <input type="text" class="form-control" [(ngModel)]="FirstName"
            placeholder="Enter first name">
        </div>
    </div>
    <div class="form-group">
        <label class="col-form-label">last name</label>
        <div class="col">
            <input type="text" class="form-control" [(ngModel)]="LastName"
            placeholder="Enter first name">
        </div>
    </div>
    <div class="form-group">
        <label class="col-form-label">address</label>
        <div class="col">
            <input type="text" class="form-control" [(ngModel)]="Address"
            placeholder="Enter first name">
        </div>
    </div>
    <div class="form-group">
        <label class="col-form-label">phone number</label>
        <div class="col">
            <input type="text" class="form-control" [(ngModel)]="TelNumber"
            placeholder="Enter first name">
        </div>
    </div>
</div>

<div class="form-group" style="margin-top: 5%;">
    <div class="col">
    <a class="btn btn-primary" (click)="addAddressBookEntry()" *ngIf="AddressBookEntry.Id==0">Add</a>

    <a class="btn btn-primary" (click)="updateAddressBookEntry()" *ngIf="AddressBookEntry.Id!=0">Update</a>
    </div>
</div>